{
	# debug
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

{env.MY_MINIO_FQDN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	reverse_proxy minio:9000
}

{env.MY_MINIO_CONSOLE_FQDN} {
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	reverse_proxy minio:9001
}
